tags
.use_watchman
**/.use_watchman
*.qcow2
**/*.qcow2
buck-out
**/buck-out
node_modules
**/node_modules
out
**/out
result*
**/result*
target
**/target
targets
**/targets
.direnv
**/.direnv
**/dist
**/.tmp
